{% extends 'base.html' %}

{% block content %}
<div class="row">
  <div class="leftcolumn">
    <h2>Virtual reality – działanie</h2>
    <p>Kluczem było <strong>zrozumienie fizjonomii człowieka</strong>. Każdy element rzeczywistości poznajemy za pomocą zmysłów, konieczne było więc wprowadzenie takich rozwiązań, które pozwoliłyby je oszukać. Najpopularniejszym z nich są specjalne okulary, które prezentują wybrany obraz na ekranie, a jednocześnie są zabudowane po bokach – dzięki czemu niemalże odcinają nas od prawdziwego świata. Twórcy VR musieli wziąć pod uwagę także inne czynniki, jak to że zasięg ludzkiego wzroku obejmuje prawie 180° czy to, że szukamy potwierdzenia widzianego obrazu za pomocą zmysłu słuchu – jeśli te sygnały są sprzeczne, dochodzi do zjawiska powszechnie znanego jako choroba lokomocyjna.</p>
    <p>Kolejnym wyzwaniem była pełna <strong>sprawność systemu</strong> – oprogramowanie musi reagować na wszystkie działania użytkownika w czasie rzeczywistym, aby zagwarantować mu przyjemne i naturalne doświadczenie. Regularnie pojawiają się także nowe rozwiązania wspierające technologię VR jak słuchawki, specjalne bieżnie czy rękawiczki, które dodatkowo pobudzają nasze zmysły, pozytywnie wpływają na jakość doznania, a także wspierają tworzenie iluzji rzeczywistości.</p>
    <p>Mówiąc najprościej: VR przedstawia nam stworzone komputerowo środowisko, które możemy odkrywać, a także wchodzić w interakcję z pewnymi jego elementami. Obiekty w technologii VR są prezentowane w skali 1:1, mają więc rzeczywiste wymiary. Widziany przez nas obraz zmienia się natomiast w zależności od naszego ruchu – możemy podziwiać wirtualny świat z różnych perspektyw, np. jeśli obrócimy głowę lub przykucniemy.</p>
  </div>
  <div class="rightcolumn">
    <h2>O mnie</h2>
    <p>Jestem studentką drugiego roku kognitywistyki i przygotowałam tę stronę na potrzeby jednego z przedmiotów.</p>
  </div>
</div>

{% endblock content %}
