{% load static %}
<html>
  <head>
    <title>Rzeczywistość wirtualna</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
    <div class="header">
      <h1>Wirtualna rzeczwistość</h1>
    </div>
    <div class = "topnav">
      <a href="{% url 'home' %}">Czym jest?</a>
      <a href="{% url 'about' %}">Działanie</a>
      <a href="{% url 'news' %}">Zastosowania</a>
    </div>
    {% block content %}
    {% endblock content %}
    <div class="footer">
      <p>Marcelina Brodacka, 2018</p>
    </div>
  </body>
</html>
