{% extends 'base.html' %}

{% block content %}
<div class="row">
  <div class="leftcolumn">
      <h2>Czym właściwie jest VR?</h2>
      <p><strong>Rzeczywistość wirtualna</strong> (ang. <em>virtual reality</em>, VR)<br> trójwymiarowy obraz, który został stworzony komputerowo. VR może przedstawiać różne przedmioty, obiekty, a nawet całe zdarzenia. W zależności od koncepcji, virtual reality opiera się zarówno na elementach świata realnego, jak i całkowicie fikcyjnego. </p>
      <p>Najprościej można więc powiedzieć, że to określenie oznacza po prostu wirtualną imitację rzeczywistości.</p>
      <p>VR ma wywoływać u ludzi <strong>naturalne i realne doznania</strong>. Nasze mózgi są jednak tak skonstruowane, iż na podstawie małych detali są w stanie stwierdzić, że coś jest nie tak – w tym przypadku, że widziany obraz nie jest prawdziwy. </p>
      <p>Przed twórcami virtual reality postawiono więc duże wyzwanie, polegające na stworzeniu wirtualnego świata, który będzie maksymalnie stwarzał pozory rzeczywistości.</p>
  </div>
  <div class="rightcolumn">
    <h2>O mnie</h2>
    <p>Jestem studentką drugiego roku kognitywistyki i przygotowałam tę stronę na potrzeby jednego z przedmiotów.</p>
  </div>
</div>
{% endblock content %}
