{% extends 'base.html' %}

{% block content %}
<div class="row">
        <div class="leftcolumn">
            <h2>Virtual reality – zastosowanie</h2>
          <ul>
            <li>Użytkowe
              <ul>
                <li>Symulatory
                <ul>
                  <li>lotnictwo wojskowe i cywilne</li>
                  <li>astronautyka</li>
                  <li>pojazdy, maszyny i konstrukcje naziemne</li>
                  <li>pojazdy, maszyny i konstrukcje górnicze</li>
                  <li>pojazdy, maszyny i konstrukcje podwodne i morskie</li>
                </ul></li>
                <li>Medycyna
                <ul>
                  <li>interaktywne szkolenia chirurgów</li>
                  <li>interaktywne doświadczenia w medycynie</li>
                  <li>leczenie oparzeń</li>
                  <li>leczenie fobii</li>
                  <li>leczenie PTSD</li>
                </ul></li>
                <li>Prototypowanie
                <ul>
                  <li>tworzenie modeli CAD</li>
                </ul>
                <li>Komunikacja audiowizualna
                <ul>
                  <li>teleimmersja</li>
                </ul></li>
                <li>Rzeczywistość rozszerzona
                <ul>
                  <li>HUD</li>
                  <li>obrazowanie medyczne</li>
                  <li>szkolenia</li>
                  <li>muzealnictwo</li>
                  <li>market</li>
                </ul></li>
              </ul>
            </li>
            <li>Rozrywkowe - gry
              <ul>
                <li>symulatory</li>
                <li>gry FPP</li>
                <li>gry MMORPG</li>
              </ul>
            </li>
            <li>Rozrywkowe - relaks, turystyka, handel, społeczności
            </li>
          </ul>
        </div>
        <div class="rightcolumn">
          <h2>O mnie</h2>
          <p>Jestem studentką drugiego roku kognitywistyki i przygotowałam tę stronę na potrzeby jednego z przedmiotów.</p>
        </div>
      </div>
{% endblock content %}
